.container {
    position: relative;
    height: 100%;
    width: 100%;
    --offset: 5px;
}

.track {
    overflow-x: hidden;
    height: var(--main-h);
    width: 100%;
    height: 100%;
    border-radius: calc(var(--offset) * 2);
    border: var(--offset) solid var(--bg);
}

.nav {
    position: absolute;
    bottom: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
    background-color: transparent;
}

.nav > * {
    margin-inline: 0.75%;
    border: none;
    background-color: rgb(125, 125, 125);
    margin-inline: 1%;
}

.nav > *:hover {
    background-color: rgb(90, 90, 90);
    transform: scale(1.1);
    transform: none;
}

.nav > *:focus {
    border: none;
    transform: none;
}

.nav_selected {
    background-color: rgb(50, 50, 50);
}

.nav_selected:hover {
    background-color: rgb(50, 50, 50);
    transform: none;
}

.next, .prev {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--offset);
    background-color: transparent;
}

.next {
    right: var(--offset);
}

.prev {
    left: var(--offset);
}

:is(.next, .prev) * {
    border-radius: 0;
    border: none;
    height: 8%;
    background-color: transparent;
}

.slides {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

.slide {
    height: 100%;
    width: 100%;
}

.slide > * {
    all: inherit;
}