/* Dark Variables */

:root {
    --bg-d: rgb(10, 20, 30);
    --bg-d-inv: rgb(12, 101, 111);
    --color-d: rgb(20, 190, 140);
    --color-d-inv: rgb(10, 20, 30);
    --color-ph-d: rgb(100,100,100);
    --color-ph-d-inv: rgb(150,150,150);
    --highlight-d: rgb(149, 255, 0);
    --highlight-d-inv: rgb(255, 220, 0);
    --glass-clear-d: rgba(255, 255, 255, .15);
    --glass-foggy-d: rgba(255, 255, 255, .30);
    --glass-clear-d-inv: rgba(0, 0, 0, .15);
    --glass-foggy-d-inv: rgba(0, 0, 0, .30);
}

/* Dark Styles */

.dark {
    background-color: var(--bg-d);
    color: var(--color-d);
}
  
.dark input {
    border-color: var(--color-d);
}

.dark textarea {
    border-color: var(--color-d);
}
  
.dark button {
    background-color: var(--bg-d-inv);
    color: var(--color-d-inv);
}
  
.dark button:hover {
    color: var(--highlight-d-inv);
}

.darrk button:focus {
    border-color: var(--bg-d);
}
  
.dark ::placeholder {
    color: var(--color-ph-d);
}
  
.dark .glass-clear {
    background-color: var(--glass-clear-d);
}
  
.dark .glass-foggy {
    background-color: var(--glass-foggy-d);
}
  
.dark a:hover {
    color: var(--highlight-d);
}

/* Inverted Styles */

.dark .inverted {
    background-color: var(--bg-d-inv);
    color: var(--color-d-inv);
}

.dark .inverted input {
    border-color: var(--color-d-inv);
}

.dark .inverted textarea {
    border-color: var(--color-d-inv);
}
  
.dark .inverted button {
    background-color: var(--bg-d);
    color: var(--color-d);
}
  
.dark .inverted button:hover {
    color: var(--highlight-d);
}

.dark .inverted button:focus {
    border-color: var(--bg-d-inv);
}
  
.dark .inverted ::placeholder {
    color: var(--color-ph-d-inv);
}
  
.dark .inverted .glass-clear {
    background-color: var(--glass-clear-d-inv);
}
  
.dark .inverted .glass-foggy {
    background-color: var(--glass-foggy-d-inv);
}

.dark .inverted a:hover {
    color: var(--highlight-d-inv);
}