/* Dark Variables */

:root {
    --bg-d: rgb(10, 20, 30);
    --bg-d-inv: rgb(0, 75, 90);
    --bg-glass-d: rgba(10, 20, 30, .9);
    --bg-glass-d-inv: rgba(0, 75, 90, .9);
    --color-d: rgb(20, 190, 140);
    --color-d-inv: rgb(220, 240, 250);
    --color-ph-d: rgb(100,100,100);
    --color-ph-d-inv: rgb(125,125,125);
    --highlight-d: rgb(150, 255, 0);
    --highlight-d-inv: rgb(20, 230, 255);
    --glass-clear-d: rgba(255, 255, 255, .15);
    --glass-foggy-d: rgba(255, 255, 255, .30);
    --glass-clear-d-inv: rgba(0, 0, 0, .15);
    --glass-foggy-d-inv: rgba(0, 0, 0, .30);
    --color-scroll-d: rgb(75,220,255);
    --color-scroll-d-inv: rgb(125,240,255);
}

/* Dark Styles */

.dark {
    background-color: var(--bg-d);
    color: var(--color-d);
}

.dark ::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-d);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scroll-d-inv);
}
  
.dark input {
    border-color: var(--color-d);
}

.dark textarea {
    border-color: var(--color-d);
}
  
.dark button {
    background-color: var(--bg-d-inv);
    color: var(--color-d-inv);
}
  
.dark button:hover {
    color: var(--highlight-d-inv);
}

.darrk button:focus {
    border-color: var(--bg-d);
}
  
.dark ::placeholder {
    color: var(--color-ph-d);
}
  
.dark .glass-clear {
    background-color: var(--glass-clear-d);
}
  
.dark .glass-foggy {
    background-color: var(--glass-foggy-d);
}

.dark .bg-glass {
    background-color: var(--bg-glass-d);
}
  
.dark a:hover {
    color: var(--highlight-d);
}

/* Inverted Styles */

.dark .inverted {
    background-color: var(--bg-d-inv);
    color: var(--color-d-inv);
}

.dark ::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-d-inv);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scroll-d);
}

.dark .inverted input {
    border-color: var(--color-d-inv);
}

.dark .inverted textarea {
    border-color: var(--color-d-inv);
}
  
.dark .inverted button {
    background-color: var(--bg-d);
    color: var(--color-d);
}
  
.dark .inverted button:hover {
    color: var(--highlight-d);
}

.dark .inverted button:focus {
    border-color: var(--bg-d-inv);
}
  
.dark .inverted ::placeholder {
    color: var(--color-ph-d-inv);
}
  
.dark .inverted .glass-clear {
    background-color: var(--glass-clear-d-inv);
}
  
.dark .inverted .glass-foggy {
    background-color: var(--glass-foggy-d-inv);
}

.dark .inverted .bg-glass {
    background-color: var(--bg-glass-d-inv);
}

.dark .inverted a:hover {
    color: var(--highlight-d-inv);
}