:root {
  --scrollbar-color: linear-gradient(rgba(255, 0, 0, .5), rgba(0, 255, 0, .5), rgba(0, 0, 255, .5));
  --scrollbar-highlight-color: linear-gradient(rgba(255, 0, 0, .8), rgba(0, 255, 0, .8), rgba(0, 0, 255, .8));
  --shadow-light: rgba(255, 255, 255, .5);
  --shadow-dark: rgba(0, 0, 0, .5);

  --header-height: 2.2rem;
  --view-height: calc(100vh - var(--header-height));
  --max: max(100vh, 100vw);
  --border-r: 1rem;
  --scrollbar-width: .8rem;

  --transission: .2s;

  --ft-signature: 'Kaushan Script', cursive;
  --ft-title: 'Oleo Script', cursive;
  --ft-personal: 'Kalam', cursive;
  --ft-formal: 'Noto Serif', serif;
  --ft-neutral: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --ft-mono: 'Courier New', Courier, monospace;

  --fs: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-neutral);
  font-size: var(--fs);
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  background-color: inherit;
}

main {
  position: absolute;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  width: 100vw;
  overflow: overlay;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  border-radius: var(--max);
  background: transparent;
  margin-block: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--max);
  background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
  background:var(--scrollbar-highlight-color);
}

a {
  text-decoration: none;
}

a:hover, a:focus, button:hover, button:focus {
  transition: var(--transission);
}

button, input {
  border-radius: var(--max);
  border-style: solid;
  border-width: 2px;
  padding: .5rem;
}

button {
  border-top-color: var(--shadow-light);
  border-left-color: var(--shadow-light);
  border-bottom-color: var(--shadow-dark);
  border-right-color: var(--shadow-dark);
}

button:hover, a:hover {
  transform: scale(1.03);
}

button:focus {
  border: 1px solid black;
  transform: scale(1);
}

::placeholder {
  text-align: left;
}

textarea {
  resize: none;
  padding: .5rem;
  border-radius: var(--border-r);
  border-width: 2px;
  border-style: solid;
}

@media (max-width: 768px) {

  :root {
   --fs: 13px;
   --header-height: 3rem;
  }

}