.container {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: var(--header-height);
    top: 0;
    font-size: min(calc(var(--header-height) / 2.2), 4vw);
    font-family: var(--ft-neutral);
    z-index: 1;
    --left-w: 80%;
}

    .container :is(a, button):hover {
        cursor: pointer;
    }

    .container button {
        border-width: 0;
        border-radius: 0;
        transition: 0s;
    }

.left, .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.left {
    justify-content: flex-start;
    width: var(--left-w);
}

.right {
    justify-content: end;
    width: calc(100% - var(--left-w));
}

.left * {
    margin-left: 5%;
}

.right * {
    margin-right: 3%;
}