.container {
    margin-inline: 2%;
    margin-bottom: 20vh;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-block: 2rem;
}

    .content :is(h1, h2, h3, h4, h5) {
        margin-bottom: .5rem;
    }

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.center {
    justify-content: center;
}

.front h1 {
    font-family: var(--font-signature);
}

:is(.full, .max, .big, .small, .medium) {
    padding: 1rem;
}

.full {
    width: 100%;
    height: calc(100vh - var(--header-height));
}

.max {
    width: 100%;
}

.big {
    width: 75%;
}

.medium {
    width: 50%;
}

.small {
    width: 25%;
}

.center_text {
    text-align: center;
}

.center_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .center_content * {
        margin: auto;
    }

.portrait {
    width: min(50%, 20rem);
    border-radius: var(--border-r);
    border-width: 2px;
    border-style: solid;
}

    .portrait * {
        border-radius: calc(var(--border-r) / 1.5);
    }

@media (min-width: 768px) {

    .container {
        margin-inline: 10%;
    }

    .content {
        font-size: 1.2rem;
    }

    .front {
        font-size: 1.5rem;
    }

}

@media (min-width: 1500px) {

    .container {
        margin-inline: 20%;
    }

    .content {
        font-size: 1.4rem;
    }

    .front {
        font-size: 2rem;
    }

}