.container {
    margin-inline: 2%;
    margin-bottom: 20vh;
}

.front h1 {
    font-family: var(--font-signature);
    text-shadow: 5px 5px 4px var(--shadow);
}

.small {
    width: 25%;
}

.portrait {
    width: min(80%, 30rem);
}

    .portrait * {
        border-radius: 50%;
    }

@media (min-width: 768px) {

    .container {
        margin-inline: 10%;
    }

    .front {
        font-size: 1.5rem;
    }

}

@media (min-width: 1500px) {

    .container {
        margin-inline: 20%;
    }

    .front {
        font-size: 2rem;
    }

}