.icon {
    background-size: contain !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    aspect-ratio: 1/1 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
}

.icon:focus {
    box-shadow: none;
    border: none;
}

.no {
    background-image: url('../public/no.svg');
}

.gb {
    background-image: url('../public/gb.svg');
}

.sun {
    background-image: url('../public/sun.svg');
}

.moon {
    background-image: url('../public/moon.svg');
}

.left {
    background-image: url('../public/left.svg');
}

.right {
    background-image: url('../public/right.svg');
}