/* Light Variables */

:root {
    --bg-l: rgb(250, 250, 255);
    --bg-l-inv: rgb(30, 30, 45);
    --color-l: rgb(10, 10, 20);
    --color-l-inv: rgb(150, 190, 225);
    --color-ph-l: rgb(125, 125, 125);
    --color-ph-l-inv: rgb(100, 100, 100);
    --highlight-l: rgb(223, 23, 66);
    --highlight-l-inv: rgb(200, 50, 100);
    --glass-clear-l: rgba(0, 0, 0, .15);
    --glass-foggy-l: rgba(0, 0, 0, .30);
    --glass-clear-l-inv: rgba(255, 255, 255, .15);
    --glass-foggy-l-inv: rgba(255, 255, 255, .30);
}

/* Light Styles */

.light {
    background-color: var(--bg-l);
    color: var(--color-l);
}

.light input {
    border-color: var(--color-l);
}

.light textarea {
    border-color: var(--color-l);
}

.light button {
    background-color: var(--bg-l-inv);
    color: var(--color-l-inv);
}

.light button:hover {
    color: var(--highlight-l-inv);
}

.light button:focus {
    border-color: var(--bg-l);
}

.light ::placeholder {
    color: var(--color-ph-l);
}

.light .glass-clear {
    background-color: var(--glass-clear-l);
}

.light .glass-foggy {
    background-color: var(--glass-foggy-l);
}

.light a:hover {
    color: var(--highlight-l);
}

/* Inverted Styles */

.light .inverted {
    background-color: var(--bg-l-inv);
    color: var(--color-l-inv);
}

.light .inverted input {
    border-color: var(--color-l-inv);
}

.light .inverted textarea {
    border-color: var(--color-l-inv);
}

.light .inverted button {
    background-color: var(--bg-l);
    color: var(--color-l);
}

.light .inverted button:hover {
    color: var(--highlight-l);
}

.light .inverted button:focus {
    border-color: var(--bg-l-inv);
}

.light .inverted ::placeholder {
    color: var(--color-ph-l-inv);
}

.light .inverted .glass-clear {
    background-color: var(--glass-clear-l-inv);
}

.light .inverted .glass-foggy {
    background-color: var(--glass-foggy-l-inv);
}

.light .inverted a:hover {
    color: var(--highlight-l-inv);
}