.container {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: var(--nav-height);
    top: 0;
    font-size: min(calc(var(--nav-height) / 2.2), 4vw);
    font-family: var(--ft-neutral);
    z-index: 1;
    --left-w: 80%;
    --padding: .5em;
}

.container :is(a, button):hover {
    cursor: pointer;
}

.container button {
    border-width: 0;
    border-radius: 0;
    transition: 0s;
}

.left, .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.left {
    justify-content: flex-start;
    width: var(--left-w);
}

.right {
    justify-content: end;
    width: calc(100% - var(--left-w));
}

.left * {
    margin-left: 5%;
}

.right * {
    margin-right: 10%;
    height: calc(var(--nav-height) / 1.5);
}

:is(.right, .left) * {
    padding-inline: var(--padding);
    padding-block: calc(var(--padding) / 1.5);
}

.dropdown {
    position: relative;
    padding: 0;
}

.dropdown_button {
    padding-block: calc(var(--padding) / 1.2);
}

.dropdown_content {
    --border-top-w: 4px;
    position: absolute;
    top: var(--nav-height);
    margin: 0;
    transform: translate(calc(0em - var(--padding)), calc(0em - var(--padding)));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--shadow-dark);
    border-top: var(--border-top-w) solid var(--highlight-inv);
}

.dropdown_content > * {
    display: block;
    margin: 0;
    padding: var(--padding);
    background: transparent;
}

.dropdown_content > a:hover {
    transform: scale(1.03) translate(2px);
}