.container {
    --canvas-bw: .5rem;
    --score-banner-h: 2rem;
}

.container canvas {
    border-width: var(--canvas-bw);
    border-style: solid;
    aspect-ratio: 1/1;
    width: 100%;
}

.score_banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.leaderboard {
    height: inherit;
    width: 100%;
    font-family: var(--ft-mono);
}

.leaderboard ol {
    list-style: none;
}

.leaderboard form {
    display: flex;
    flex-direction: row;
}

.leaderboard button {
    margin-left: 1rem;
}