.section, .section_full {
    width: min(100%, 100vw);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section_full {
    min-height: var(--view-height);
    align-items: center;
}

.full {
    width: 100%;
    min-height: var(--view-height);
}

.content {
    width: 120ch;
    padding: 1em;
}

.inline_left {
    display: inline-block;
    text-align: left;
    max-width: 100%;
}

.grid_6 {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
}

.grid_5 {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
}

.grid_4 {
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.grid_2 {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

:is(.grid_6, .grid_5, .grid_4) > * {
    padding-block: 1em;
}

.col_span_2 {
    grid-column: span 2;
}

.col_span_3 {
    grid-column: span 3;
}

.col_span_4 {
    grid-column: span 4;
}

.col_span_5 {
    grid-column: span 5;
}

.col_span_6 {
    grid-column: span 6;
}

.start_2 {
    grid-column-start: 2;
}

.start_3 {
    grid-column-start: 3;
}

.start_4 {
    grid-column-start: 4;
}

.start_5 {
    grid-column-start: 5;
}

.start_6 {
    grid-column-start: 6;
}

.end_4 {
    grid-column-end: 4;
}

.end_5 {
    grid-column-end: 5;
}

.end_6 {
    grid-column-end: 6;
}

.end_7 {
    grid-column-end: 7;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centered_v {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered_self_v {
    margin-block: auto;
}

.centered_text {
    text-align: center;
}

.break_s {
    height: 0;
    width: 100%;
    display: block;
    margin-block: calc(var(--view-height) / 10);
}

.break_m {
    height: 0;
    width: 100%;
    display: block;
    margin-block: 12.5vh;
}

.break_b {
    height: 0;
    width: 100%;
    display: block;
    margin-block: 50vh;
}

.break_max {
    height: 0;
    width: 100%;
    display: block;
    margin-block: calc(100vh - var(--nav-height));
}

@media (max-aspect-ratio: 5/6) {

    .section_full {
        padding-inline: 2%;
    }

    .section_half {
        padding-inline: 2%;
    }

    .section {
        padding-inline: 2%;
    }

    .centered_h_mobile {
        margin-inline: auto;
        text-align: center;
    }

}